<div class="flash-messages">
    {% for key, message in app.session.getFlashes() %}
    <div class="{{ key }}">
        {{ message|trans({}, 'LyraContentBundle') }}
    </div>
    {% endfor %}
</div>
