<a href="{{ path('lyra_content_admin_page_edit', { 'id' : node.itemId }) }}" class="button action-edit icon-only">{{ 'list.edit'|trans({}, 'LyraContentBundle') }}</a>
{% if not node.isRoot %}
<a href="{{ path('lyra_content_admin_delete', { 'id' : node.id }) }}" class="button action-delete icon-only">{{ 'list.delete'|trans({}, 'LyraContentBundle') }}</a>
{% endif %}
