{% extends "LyraContentBundle:Admin:form.html.twig" %}
{% form_theme form 'LyraContentBundle:Admin:form_theme.html.twig' %}
{% block form_title %}
<h1>Edit Content</h1>
{% endblock %}
{% block form %}
    {{ form_errors(form) }}
    <form class="ly-form" action="{{ path('admin_content_edit', { 'id': node.id, 'type' : node.type }) }}" method="post">
        {% include 'LyraContentBundle:Admin:fields.html.twig' with { 'form': form } %}
        {{ form_row(form._token) }}
        <hr class="clear" />
        <input type="submit" value="Save" />
    </form>
{% endblock %}
