{% extends 'LyraContentBundle::layout.html.twig' %}
{% block content %}
<div id="content-form-wrapper">
    {% block form_title %}{% endblock %}
    {% block button_bar %}{% endblock %}
    {% block form %}{% endblock %}
</div>
{% endblock %}
