h1 {
    font-size: 1.3em;
    margin: 0;
}
h3 {
    font-size: 1.2em;
}
.clear {
    clear: both;
    visibility: hidden;
}
#button-bar {
    margin: 10px 0 4px;
}
.ui-button-text {
    font-size: 90%;
    font-weight: normal;
}
