#ly-list-wrapper {
    padding: 2px 2px 4px;
}
#ly-list-wrapper h1 {
    padding-left: 5px;
}
table.ly-list {
  border-collapse: collapse;
  width: 100%;
}
table.ly-list caption {
    padding: .25em
}
table.ly-list td {
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  padding: .25em;
  text-align: left;
}
table.ly-list th {
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  padding: .25em;
}
td.order-actions {
    width: 145px;
    text-align: center !important;
}
td.content {
    width: 315px;
}
td.published {
    width: 90px;
    text-align: center !important;
}
.object-actions form, .order-actions form {
    display: inline;
}

/* Delete node dialog box */

#confirm-delete ul {
    list-style-position: inside;
}
li.depth-2 {
    padding-left: 10px
}
li.depth-3 {
    padding-left: 20px
}
li.depth-4 {
    padding-left: 30px
}
.node-path {
    display: block;
    font-size: 85%;
    text-align: right;
}

/* Move node dialog box */

.ly-form li {
    list-style: none;
    margin: 0;
}
.ly-form label {
    display: inline-block;
    padding-right: 5px;
}
