<ol class="path">
    {% for node in path %}
        {% if node.published %}
            <li>
                <a href="{{ path('lyra_content_show', {'path': node.path}) }}">{{ node.linkTitle ? node.linkTitle : node.title }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ol>
