<ol class="path">
    {% for node in path %}
        {% if node.published %}
            {% set title =  node.linkTitle ? node.linkTitle : node.title %}
            <li>
                {% if loop.last %}
                    {{ title}}
                {% else %}
                    <a href="{{ path('lyra_content_show', {'path': node.path}) }}">{{ title }}</a>
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
</ol>
